.w0 { min-width: 0 !important; }
.w1 { min-width: $width-1 !important; }
.w2 { min-width: $width-2 !important; }
.w3 { min-width: $width-3 !important; }
.w4 { min-width: $width-4 !important; }
.w5 { min-width: $width-5 !important; }
.w6 { min-width: $width-6 !important; }

.wmin0 { min-width: 0 !important; }
.wmin1 { min-width: $width-1 !important; }
.wmin2 { min-width: $width-2 !important; }
.wmin3 { min-width: $width-3 !important; }
.wmin4 { min-width: $width-4 !important; }
.wmin5 { min-width: $width-5 !important; }
.wmin6 { min-width: $width-6 !important; }

.wmax0 { max-width: 0 !important; }
.wmax1 { max-width: $width-1 !important; }
.wmax2 { max-width: $width-2 !important; }
.wmax3 { max-width: $width-3 !important; }
.wmax4 { max-width: $width-4 !important; }
.wmax5 { max-width: $width-5 !important; }
.wmax6 { max-width: $width-6 !important; }